.loader {
  box-sizing: border-box;
  display: inline-block;
  border-style: dotted;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
